@model Cadastro.Dominio.Produto

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar Produtos</h2>

<h3>Você realmente deseja excluir este produto?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataValidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataValidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeDoItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeDoItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayName("Id da Compra")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompraId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
